@model CRUD.Models.Fornecedor

@{
    ViewData["Title"] = "Delete";
}

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">

    <!-- Icons font CSS-->
    <link href="~/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
    <link href="~/datepicker/daterangepicker.css" rel="stylesheet" media="all">

</head>


<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title text-center">Deletar</h2>
                <hr class="my-2" />
                <div>
                    <dl class="row row-space">
                        <div class="col-6">
                            <dt class="col">
                                    @Html.DisplayNameFor(model => model.Nome)
                            </dt>
                            <dd class="col">
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                        </div>
                            <div class="col-6">
                                <dt class="col">
                                    @Html.DisplayNameFor(model => model.Cnpj)
                                </dt>
                                <dd class="col-sm">
                                    @Html.DisplayFor(model => model.Cnpj)
                                </dd>
                            </div>
                        <div class="col-12 mt-2">
                            <dt class="col-sm">

                                @Html.DisplayNameFor(model => model.Especialidade)
                            </dt>
                            <dd class="col-sm">
                                @Html.DisplayFor(model => model.Especialidade)
                            </dd>
                        </div>
                    </dl>
                </div>
                <form asp-action="Delete" class="mt-4 d-flex justify-content-between">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" value="Delete" class="btn btn-danger">Deletar</button>
                    <a asp-action="Index" class="btn btn--radius-2 btn--blue">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}