@model IEnumerable<CRUD.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}


<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">

    <!-- Icons font CSS-->
    <link href="~/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/main.css" rel="stylesheet" media="all">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="all">

</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h1 class="text-center">Fornecedores</h1>

                    <p class="text-end">
                        <a asp-action="Create" class="text-decoration-none text-success">+Cadastrar</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>